body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --primary-text-black: #000000;
  --primary-text-white: #FFFFFF;
  --primary-text-yellow: #FDD46D;
}

#root{
  height: 100vh;
}


.c-btn{
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: var(--primary-text-yellow);
  color:var(--primary-text-white);
  cursor: pointer;
}
