.c-container_items, .c-produits{
  display: grid!important;
  grid-template-columns: 1fr 0.25fr!important;
  grid-gap: 30px;
  height: 100%;

  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

.c-container_products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  height: 100%;
}

.c-produit_single{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}


.c-produit_img, .c-produit_infos{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.c-img_circle{
  position: relative;
  width: 200px;
  height: 200px;
}

.c-img_circle_2{
  position: relative;
  width: 100px;
  height: 100px;
}

.CircularProgressbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
}

.CircularProgressbar .CircularProgressbar-trail{
  stroke: #efefef;
}

.CircularProgressbar .CircularProgressbar-path{
  stroke: var(--primary-text-yellow);
}

.c-product_number{
  background: var(--primary-text-yellow-40);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.c-product_number span{
  margin: 5px 0;
  font-weight: bold;
}

.c-img_produit{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.c-other{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.c-produit_add{
  position: sticky;
  top: 50px;
  background: var(--primary-text-white);
  box-shadow: 1px 1px 20px #00000020;
  padding: 30px;
  border-radius: 10px;
  height: fit-content;
}
.c-produit_add h3{
  margin: 0 0 20px 0;
}

input{
  margin: 10px 0;
  width: 90%;
}

.c-popup_bg{
  overflow: hidden;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background: #00000020;
  width: 100vw;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-popup_bg.active{
  display: flex;
  position: fixed;
}

.c-popup_buy{
  background: var(--primary-text-white);
  width: 50%;
  padding: 30px;
  text-align: center;
  border-radius: 20px;
}

.c-popup_buy div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.c-popup_buy .c-infos{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.c-infos p{
  margin: 0;
  font-size: 1.2rem;
}

.c-infos span{
  font-weight: bold;
}
.c-btn_grp{
  margin: 30px 0;
}
.c-btn_grp > button{
  margin-right: 10px;
}

.c-btn_grp > a{
  margin-left: 10px;
}

.c-pagination{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.c-pagination p{
  border-radius: 20px;
  background: #fff;
  width: 2rem;
  color: #000;
  font-size: 1rem;
  margin-right: 25px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.c-pagination p.current{
  border-radius: 20px;
  background: var(--primary-text-yellow);
  color: #fff;
}
