.map-container {
  height: 100%;
  width: 90%;
}


.c-pin{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #FDD46D40;
  border: 2px solid #FDD46D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.c-pin_circle{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #f0c354;
}


.mapboxgl-popup-content div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
