.default-layout {
    display: grid;
    grid-template-rows: 80px auto 3rem;
    grid-template-areas: "Header" "Main" "Footer";
}

.header {
    grid-area: Header;
}

main {
    grid-area: Main;
    min-height: 88vh;
}

.footer {
    grid-area: Footer;
    background: black;
    padding: auto;
    color: white;
}